

*.fire.user

SilverCalc.sln.fire.cache

SilverCalc-android/org.rubiq.silver.calc/bin/Debug/org.rubiq.silver.calc.jar

SilverCalc-android/org.rubiq.silver.calc/bin/Debug/org.rubiq.silver.calc.jar

SilverCalc-android/org.rubiq.silver.calc/bin/Debug/org.rubiq.silver.calc.jar

SilverCalc-android/org.rubiq.silver.calc/bin/Debug/swift.jar
